@inject PassengerHttpClient http
@inject ILogger<PassengerTable> logger
@inject IDialogService DialogService
@inject ISnackbar Snackbar

<Table TEntity="Passenger" HttpClient="http" OnCreate="Create">
    <Title> Passengers </Title>

    <ColumnGroup>
        <col style="width: 20%;" />
        <col style="width: 20%;" />
        <col style="width: 20%;" />
        <col style="width: 20%;" />
    </ColumnGroup>


    <HeaderDefinition>
        <MudTh>Id</MudTh>
        <MudTh>Name</MudTh>
        <MudTh>Trips</MudTh>
        <MudTh>Airline</MudTh>
        <MudTh>Airline Logo</MudTh>
    </HeaderDefinition>

    <RowTemplate>
        <MudTd DataLabel="Id">@context._Id</MudTd>

        <MudTd DataLabel="Name">@context.Name</MudTd>

        <MudTd DataLabel="Trips">@context.Trips</MudTd>

        <MudTd DataLabel="Airline">@context.Airline.ElementAt(0)?.Name</MudTd>

        <MudTd DataLabel="Airline Logo">
            <MudAvatar Image="@context.Airline.ElementAt(0)?.Logo" />
        </MudTd>
    </RowTemplate>
</Table>

@code {

    public async Task Create()
    {
        var options = new DialogOptions
        {
            MaxWidth = MaxWidth.Small,
            FullWidth = true
        };

        var dialog = DialogService.Show<CreatePassengerDialog>("Create Passenger", options);

        bool status = (bool)(await dialog.Result).Data;

        if (status)
        {
            Snackbar.Add("Successfully Created!", Severity.Success);
        }

        return ;
    }

}